.asteriskField {
    display: none;
}

form .alert ul li {
    list-style: none;
}

form .alert ul {
    padding: 0;
    margin: 0;
}

.shoppinglisttable {
  font-size: 1.4rem;
}

.minwidth {
  min-width: 280px;
}

.minwidthshoppinglist {
  min-width: 315px;
}
